dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ScrollSpy</title>
    <meta charset="UTF-8">
    <link href="common/css/main.css" media="all" rel="stylesheet" type="text/css">
    <script src="common/js/libs/modernizr.min.js"></script>
  </head>
  <body>
    <h1>ScrollSpy</h1>
    <div class="frame-all">
      <div id="blk1" data-target="n1" class="mod-blk mod-blk1">blk1</div>
      <div id="blk2" data-target="n2" class="mod-blk mod-blk2">blk2</div>
      <div id="blk3" data-target="n3" class="mod-blk mod-blk3">blk3</div>
      <div id="blk4" data-target="n4" class="mod-blk mod-blk4">blk4</div>
      <div id="blk5" data-target="n5" class="mod-blk mod-blk5">blk5</div>
    </div>
    <nav id="gnav" class="mod-gnav">
      <li id="n1" class="n1"><a href="#blk1">blk1</a></li>
      <li id="n2" class="n2"><a href="#blk2">blk2</a></li>
      <li id="n3" class="n3"><a href="#blk3">blk3</a></li>
      <li id="n4" class="n4"><a href="#blk4">blk4</a></li>
      <li id="n5" class="n5"><a href="#blk5">blk5</a></li>
    </nav>
    <div class="mod-hitline"></div>
    <div class="frame-footer">Copyright © makitasako.com
      <p><a href="https://github.com/ANTON072/ScrollSpy.js">GitHub</a></p>
    </div>
    <script src="common/js/libs/almond.min.js"></script>
    <script src="common/js/libs/vendor.js"></script>
    <script src="common/js/main.js"></script>
  </body>
</html>

src/jade/index.jade
!!! 5
html(lang = "ja")
  head
    title ScrollSpy
    meta(charset = "UTF-8")
    link(href="common/css/main.css", media="all", rel="stylesheet", type="text/css")
    script(src = "common/js/libs/modernizr.min.js")
  body

    h1 ScrollSpy
    div.frame-all
      div.mod-blk.mod-blk1#blk1(data-target="n1") blk1
      div.mod-blk.mod-blk2#blk2(data-target="n2") blk2
      div.mod-blk.mod-blk3#blk3(data-target="n3") blk3
      div.mod-blk.mod-blk4#blk4(data-target="n4") blk4
      div.mod-blk.mod-blk5#blk5(data-target="n5") blk5

    nav.mod-gnav#gnav
      li.n1#n1: a(href="#blk1") blk1
      li.n2#n2: a(href="#blk2") blk2
      li.n3#n3: a(href="#blk3") blk3
      li.n4#n4: a(href="#blk4") blk4
      li.n5#n5: a(href="#blk5") blk5

    div.mod-hitline

    div.frame-footer
      | Copyright © makitasako.com
      p
        a(href="https://github.com/ANTON072/ScrollSpy.js")
          | GitHub

    script(src = "common/js/libs/almond.min.js")
    script(src = "common/js/libs/vendor.js")
    script(src = "common/js/main.js")
